#about{
    margin: 70px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Customize shadow properties as per your requirements */
}
#resume{
    margin-bottom: 70px;
}
#skills{
    margin-bottom: 70px;
}
#footer{
    padding-top: 50px;
    background-color: white;
}
.nav-link{
    padding-top: 0 !important;
    padding-bottom: 2 !important;
}